<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="testCase1">
        <parameter name="searchtext" value="Automation"></parameter>
        <parameter name="itemqty" value="2"></parameter>
        <classes>
            <class name="Tests.AmazonAutomationTest"></class>
            <class name="Tests.BaseTest"></class>
        </classes>
    </test>
</suite>
